@use 'layout';
@use 'typography';

.about {
	@include layout.page;
}

.mosaic {
	display: grid;
	grid-template-columns: repeat(20, 1fr);
	grid-template-rows: repeat(20, 1fr);
	flex: 1;
	justify-content: center;
	padding: 5% 0 5% 7.5%;
}

.image {
	position: relative;
	border-radius: .5rem;
}

.image:nth-child(1) {
	grid-column: 1/18;
  grid-row: 1/8;
	box-shadow: var(--shad-down);
}

.image:nth-child(2) {
	grid-row: 6/17;
  grid-column: 12/21;
	box-shadow: var(--shad-left);
}

.image:nth-child(1) img {
	border-radius: .5rem;
}

.image:nth-child(2) img {
	border-radius: .5rem 0 0 .5rem;
}

.copy {
	@include typography.copy;
	grid-column: 1/11;
  grid-row: 9/20;
}

@media screen and (min-width: 414px) {
	.image:nth-child(2) {
		grid-column: 12/21;
		grid-row: 11/21;
	}
}

@media screen and (min-width: 768px) {
	.mosaic {
		padding: 5% 7.5%;
	}
	.image:nth-child(1) {
		grid-column: 4/19;
		grid-row: 1/9;
	}
	.image:nth-child(2) {
		grid-column: 13/21;
		grid-row: 8/21;
	}
	.image:nth-child(2) img {
		border-radius: .5rem;
	}
	.copy {
		grid-row: 12/20;
	}
}

@media screen and (min-width: 1024px) {
	.copy {
		grid-row: 13/20;
	}
}

@media screen and (min-width: 1366px) {
	.mosaic {
		padding: 2.5% 20%;
	}
	.image:nth-child(1) {
		grid-column: 6/18;
		grid-row: 1/12;
	}

	.image:nth-child(2) {
		grid-column: 15/21;
		grid-row: 6/21;
	}

	.copy {
		grid-row: 14/20;
		grid-column: 1/13;
	}
}

@media screen and (min-width: 1920px) {
	.copy {
		grid-row: 15/20;
		grid-column: 1/13;
	}
}