.arrow {
	padding: 10% 0;
	position: relative;
	transition: var(--trans-1);
	cursor: pointer;
}

.arrowLeft {
	composes: arrow;
	transform: rotate(180deg);
}

.arrowInner {
	width: 7.5rem;
	height: 2px;
	background: black;
	position: relative;
	transition: var(--trans-1);
}

.arrowInner::before, .arrowInner::after {
	content: '';
	position: absolute;
	width: 5px;
	height: 2px;
	right: 0;
	background: black;
	transform-origin: right;
	transition: var(--trans-1);
}

.arrowInner::before {
	transform: rotate(45deg);
}

.arrowInner::after {
	transform: rotate(-45deg);
}

@media screen and (min-width: 768px) {
	.arrow {
		padding: 5% 0;
	}
}

@media screen and (min-width: 1366px) {
	.arrow:hover {
		opacity: var(--opac-1);
	}
}