@use 'typography';

.category {
	display: flex;
	flex-direction: column;
	margin-bottom: 40%;
}

.category:last-child {
	margin-bottom: 5%;
}

.title {
	@include typography.logo;
	margin-bottom: 5%;
}

.images {
	display: grid;
	position: relative;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}

@media screen and (min-width: 768px) {
	.category {
		margin-bottom: 30%;
	}
	.title {
		margin-bottom: 2.5%;
	}
	.images {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media screen and (min-width: 1366px) {
	.category:last-child {
		margin-bottom: 2.5%;
	}
	.image:hover {
		opacity: var(--opac-2);
	}
}