@use 'layout';
@use 'typography';

.contact {
	@include layout.page;
}

.contact > nav {
	position: fixed !important;
}

.formWrapper {
	display: flex;
	flex-direction: column;
	padding: 0 7.5%;
	justify-content: center;
	align-items: center;
	position: relative;
	flex: 1;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
	position: relative;
}

.label {
	position: absolute;
	visibility: hidden;
	// opacity: 0;
}

.input {
	@include typography.copy;
	width: 100%;
	padding: 1rem;
	color: black;
	// box-shadow: var(--shad-border);
	border: solid 2px var(--dark-2);
	border-radius: .5rem;
	transition: var(--trans-1);
}

// .input:valid {
// 	border: solid 2px green;
// }

.input::placeholder, .message::placeholder {
	color: var(--dark-1);
	@include typography.copy;
	font-weight: 400;
}

.name, .email, .phone {
	composes: input;
}

.message {
	composes: input;
	min-height: 10rem;
}

.buttons {
	display: flex;
	gap: 1rem;
	width: 100%;
}

.button {
	display: flex;
	align-items: center;
	background: var(--dark-3);
	color: white;
	padding: 1rem;
	border-radius: .5rem;
	@include typography.copy;
	transition: var(--trans-1);
	cursor: pointer;
	flex: 1;
	display: flex;
	justify-content: center;
	box-shadow: var(--shad-down-sm);
}

.call, .submit {
	composes: button;
}

.submitLoading {
	composes: button;
	opacity: var(--opac-2);
}

.submitLoading span {
	background: white;
	height: .5rem;
	width: .5rem;
}

.response {
	@include typography.copy;
	text-align: center;
	visibility: hidden;
	opacity: 0;
	transition: var(--trans-2);
	position: absolute;
	width: 100%;
	bottom: -4rem;
}

.responseShow {
	composes: response;
	visibility: visible;
	opacity: 1;
}

@media screen and (min-width: 768px) {
	.formWrapper {
		padding: 0 25% 0;
	}
}

@media screen and (min-width: 1366px) {
	.formWrapper {
		padding: 0 35%;
	}
	.button:hover {
		opacity: var(--opac-2);
	}
}