.contact {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	height: calc(var(--vh) * 100);
	justify-content: center;
}

.contact > nav {
	position: fixed !important;
	top: 0;
}

.formWrapper {
	display: flex;
	flex-direction: column;
	padding: 5% 7.5% 0;
	justify-content: center;
	align-items: center;
	position: relative;
}

.tel {
	font-size: 2.25rem;
	font-weight: 400;
	margin-bottom: 15%;
	transition: var(--t1);
}

.form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
}

.label {
	position: absolute;
	visibility: hidden;
	opacity: 0;
}

.input, .message {
	font-size: 1.6rem;
	font-weight: 400;
	width: 100%;
	border: solid 2px rgba(153, 153, 153, 0.539);
	padding: 1rem;
	color: black;
	background: white;
	border-radius: .5rem;
	transition: var(--t1);
}

.input:valid, .message:valid {
	border: solid 2px #666;
}

.input::placeholder, .message::placeholder {
	color: #999;
}

.name, .email, .phone {
	composes: input;
}

.message {
	composes: input;
	font-family: 'Montserrat', sans-serif;
	min-height: 12.5rem;

}

.submit {
	font-size: 1.6rem;
	font-weight: 400;
	background: #333;
	color: white;
	padding: 1rem;
	border: solid 2px #333;
	border-radius: .5rem;
	cursor: pointer;
	transition: var(--t1);
}

.submitLoading {
	composes: submit;
}

.response {
	font-size: 1.6rem;
	font-weight: 400;
	text-align: center;
	visibility: hidden;
	opacity: 0;
	transform: translateY(1rem);
	transition: var(--t1);
}

.responseShow {
	composes: response;
	visibility: visible;
	opacity: 1;
}

@media screen and (min-width: 768px) {
	.formWrapper {
		padding: 0 20% 0;
	}
}

@media screen and (min-width: 1366px) {
	.tel:hover {
		color: #999;
	}
	.formWrapper {
		padding: 2.5% 35% 0;
	}
	.submit:hover {
		background: #666;
		border: solid 2px #666;
	}
}