@use 'typography';

.contact {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	height: calc(var(--vh) * 100);
	// justify-content: center;
}

.contact > nav {
	position: fixed !important;
	// top: 0;
}

.formWrapper {
	display: flex;
	flex-direction: column;
	padding: 0 7.5%;
	justify-content: center;
	align-items: center;
	position: relative;
	flex: 1;
}

// .tel {
// 	// font-size: 2.25rem;
// 	// font-weight: 400;
// 	@include typography.medium-header;
// 	margin-bottom: 15%;
// 	transition: var(--t1);
// }

.form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
}

.label {
	position: absolute;
	visibility: hidden;
	opacity: 0;
}

.input {
	@include typography.copy;
	width: 100%;
	border: solid 2px var(--d1);
	padding: .5rem;
	color: black;
	background: white;
	border-radius: .5rem;
	transition: var(--t1);
}

.input:valid, .message:valid {
	border: solid 2px #666;
}

.input::placeholder, .message::placeholder {
	color: var(--d1);
	@include typography.copy;
}

.name, .email, .phone {
	composes: input;
}

.message {
	composes: input;
	font-family: 'Montserrat', sans-serif;
	min-height: 10rem;
}

.buttons {
	display: flex;
	gap: 1rem;
	width: 100%;
}

.button {
	background: var(--d3);
	color: white;
	padding: .6rem;
	border-radius: .5rem;
	@include typography.copy;
	transition: var(--t1);
	cursor: pointer;
	flex: 1;
	display: flex;
	justify-content: center;
	box-shadow: var(--sd);
}

.call {
	composes: button;
}

.submit {
	composes: button;
	font-weight: 400 !important;
}

.submitLoading {
	composes: submit;
	background: var(--d2);
}

.response {
	@include typography.copy;
	text-align: center;
	visibility: hidden;
	opacity: 0;
	transform: translateY(1rem);
	transition: var(--t1);
}

.responseShow {
	composes: response;
	visibility: visible;
	opacity: 1;
}

@media screen and (min-width: 768px) {
	.formWrapper {
		padding: 0 20% 0;
	}
}

@media screen and (min-width: 1366px) {
	.formWrapper {
		padding: 0 35%;
	}
	.button:hover {
		background: var(--d2);
	}
}