.contact {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	justify-content: center;
}

.contact > nav {
	position: fixed !important;
	top: 0;
}

.formWrapper {
	display: flex;
	flex-direction: column;
	padding: 5% 7.5%;
	// flex: 1;
	justify-content: center;
	align-items: center;
}

.tel {
	// width: 100%;
	font-size: 2.25rem;
	font-weight: 400;
	margin-bottom: 20%;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
	// padding: 0 7.5%;
}

.label {
	position: absolute;
	visibility: hidden;
	opacity: 0;
}

.input, .message {
	font-size: 1.4rem;
	font-weight: 400;
	width: 100%;
	border: solid 2px #999;
	padding: 1rem;
	color: #333;
	background: white;
	border-radius: .5rem;
}

.input:valid, .message:valid {
	border: solid 2px #333;
}

.input::placeholder {
	color: #999;
}

.name, .email, .phone {
	composes: input;
}

.message {
	composes: input;
	font-family: 'Montserrat', sans-serif;
	min-height: 15rem;
}

.submit {
	background: #333;
	color: white;
	padding: 1rem;
	border: solid 2px #333;
	border-radius: .5rem;
}

@media screen and (min-width: 768px) {
	.formWrapper {
		padding: 0 20%;
	}
}

@media screen and (min-width: 1366px) {
	.tel {
		margin-bottom: 10%;
	}
	.formWrapper {
		padding: 2.5% 35%;
	}
}