.galleryPage {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.gallery {
	display: flex;
	flex-direction: column;
	padding: 0 7.5%;
	margin-bottom: 10%;
}

.category {
	display: flex;
	flex-direction: column;
}

.title {

}

.images {
	display: grid;
	position: relative;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
	// padding: 0 7.5%;
	padding: 5% 0;
}

.image span, .image img {
	pointer-events: none;
}

.image img {
	border-radius: .5rem;
}

@media screen and (min-width: 768px) {
	.gallery {
		// padding: 0 7.5%;
	}
	.images {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media screen and (min-width: 1366px) {
	.gallery {
		padding: 0 20%;
	}
}