@use 'typography';

.galleryPage {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.gallery {
	display: flex;
	flex-direction: column;
	padding: 5% 7.5%;
}

// .category {
// 	display: flex;
// 	flex-direction: column;
// 	margin-bottom: 40%;
// }

// .category:last-child {
// 	margin-bottom: 5%;
// }

// .title {
// 	@include typography.logo;
// 	margin-bottom: 5%;
// }

// .images {
// 	display: grid;
// 	position: relative;
// 	grid-template-columns: 1fr 1fr;
// 	gap: 1rem;
// }

// .image {
// 	cursor: pointer;
// 	transition: var(--trans-1);
// 	box-shadow: var(--shad-down-sm);
// }

// .image span, .image img {
// 	pointer-events: none;
// }

// .image > span {
// 	height: 100% !important;
// }

// .image img {
// 	border-radius: .5rem;
// }

// @media screen and (min-width: 768px) {
// 	.category {
// 		margin-bottom: 30%;
// 	}
// 	.title {
// 		margin-bottom: 2.5%;
// 	}
// 	.images {
// 		grid-template-columns: 1fr 1fr 1fr;
// 	}
// }

@media screen and (min-width: 1366px) {
	.gallery {
		padding: 2.5% 20%;
	}
	// .category:last-child {
	// 	margin-bottom: 2.5%;
	// }
	// .image:hover {
	// 	opacity: var(--opac-2);
	// }
}