.galleryLink {
	// position: relative;
	width: 100%;
	padding: 7.5% 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.text {
	font-size: 1.8rem;
	font-weight: 400;
	text-transform: uppercase;
	padding-right: .5rem;
}

.arrow {
	width: 10rem;
	height: .2rem;
	background: black;
	position: relative;
	// padding-left: .5rem;
}

.arrow::before, .arrow::after {
	content: '';
	position: absolute;
	width: .75rem;
	height: .2rem;
	right: 0;
	background: black;
	transform-origin: right;
}

.arrow::before {
	transform: rotate(45deg), translate(-.5rem, -.5rem);
}

.arrow::after {
	transform: rotate(-45deg), translate(-.5rem, .5rem);
}

@media screen and (min-width: 1366px) {
	.galleryLink {
		padding: 2.5% 0;
	}
}