@use 'typography';

.gallery {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.categories {
	display: flex;
	flex-direction: column;
	padding: 5% 7.5%;
}

@media screen and (min-width: 1366px) {
	.categories {
		padding: 2.5% 20%;
	}
}