@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&Inter:wght@200;300;400;500&display=swap');
/* @font-face {
	font-family: 'Bangla MN';
	src: url('./bangla-mn.ttf');
} */


:root {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
  font-size: 10px;
	/* --fancy: 'Montserrat', serif; */
	--t1: .15s ease-in-out;
}

*, *:before, *:after {
  box-sizing: inherit;
}

*:visited {
	color: inherit;
}

body, menu, button, h1, h2, h3, h4, h5, h6, p, ol, ul, blockquote {
  margin: 0;
  padding: 0;
  border: none;
}

ol, ul {
  list-style: none;
}

button, a, input {
  border: none;
  text-decoration: none;
  outline: none;
}

a {
	color: inherit;
}

@media screen and (min-width: 414px) {
  :root {
    font-size: 11px;
  }
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 12px;
  }
}