@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
@font-face {
	font-family: 'Bangla MN';
	src: url('./bangla-mn.ttf');
}

:root {
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
  font-size: 10px;

	--t1: .15s ease-in-out;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, menu, button, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  border: none;
}

ol, ul {
  list-style: none;
}

button, a, input {
  border: none;
  text-decoration: none;
  outline: none;
}

/* body {
  overflow-x: hidden;
} */

@media screen and (min-width: 414px) {
  :root {
    font-size: 11px;
  }
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 12px;
  }
}