@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&Inter:wght@200;300;400;500&display=swap');

:root {
	box-sizing: border-box;
  font-size: 10px;
	--t1: .15s;
  --t2: .3s;
  --sl: -0.5rem 0.5rem 1.25rem -0.5rem #3333339f;
  --sr: 0.5rem 0.5rem 1.25rem -0.5rem #3333339f;
  --sd: 0 0.5rem 1.25rem -0.5rem #3333339f;
  --sdSml: 0 .5rem 1.25rem -0.75rem #3333339f;
  --d1: rgb(170, 170, 170);
  --d2: #666;
  --d3: #333;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family: 'Montserrat', sans-serif;
}

*:visited {
	color: inherit;
}

body, menu, button, h1, h2, h3, h4, h5, h6, p, ol, ul, blockquote {
  margin: 0;
  padding: 0;
  border: none;
}

ol, ul {
  list-style: none;
}

button, a, input, textarea {
  border: none;
  text-decoration: none;
  outline: none;
}

a {
	color: inherit;
}

@media screen and (min-width: 414px) {
  :root {
    font-size: 11px;
  }
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 12px;
  }
}

// @media screen and (min-width: 1024px) {
//   :root {
//     font-size: 13px;
//   }
// }