.modal {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: white;
	transition: var(--t1);
	visibility: hidden;
	opacity: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 3;
}

.modalOpen {
	composes: modal;
	visibility: visible;
	opacity: 1;
}

.nav {
	display: flex;
	// justify-content: space-between;
	padding: 5% 7.5%;
	position: absolute;
	width: 100%;
	top: 0;
	align-items: center;
	justify-content: space-between;
}

.dummyLogo {
	font-size: 1.5rem;
	font-weight: 500;
	text-transform: uppercase;
	visibility: hidden;
}

.close {
  width: 3.5rem;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: transparent;
  position: relative;
	// top: .3rem;
	transform: translateY(.3rem);
  grid-gap: 0.4rem;
  gap: 0.4rem;
  transition: var(--t1);
  z-index: 3;
  cursor: pointer;
  transform-origin: center;
}

.bar {
	position: absolute;
	width: 80%;
	background: black;
	transition: var(--t1);
	height: 2px;
}

.bar1 {
	composes: bar;
	transform: rotate(45deg);
}

.bar2 {
	composes: bar;
	transform: rotate(-45deg);
}

.image {
	width: 100%;
	height: 100%;
	position: relative;
}

@media screen and (min-width: 768px) {
	.image {
		max-height: 75%;
		max-width: 85%;
	}

	.image img {
		border-radius: .5rem;
	}
}

@media screen and (min-width: 1366px) {
	.nav {
		padding: 2.5% 20%;
		align-items: flex-end;
	}
	.image {
		max-width: 50%;
	}
}