.nav {
	position: sticky;
	top: 0;
	padding: 5% 7.5%;
	margin-bottom: 5%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 2;
	background: white;
}

.logo {
	display: flex;
	flex-direction: column;
	z-index: 3;
}

.swanson {
	font-size: 2.5rem;
	font-weight: 400;
	text-transform: uppercase;
}

.menu {
	width: 100%;
	height: 100vh;
	padding: 5% 7.5%;
	background: white;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: var(--t1);
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
	gap: 2rem;
	z-index: 2;
}

.menuItem {
	font-size: 4rem;
	font-weight: 300;
  text-transform: uppercase;
	cursor: pointer;
	transition: var(--t1);
}

.menuOpen {
	composes: menu;
	visibility: visible;
	opacity: 1;
}

.icon {
	width: 2.5rem;
	height: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent;
	position: relative;
	transform: rotate(45deg);
	gap: .5rem;
	transition: var(--t1);
	z-index: 3;
	cursor: pointer;
}

.bar {
	background: black;
	transition: var(--t1);
	width: 2px;
}

.bar1 {
	composes: bar;
	height: 50%;
}

.bar2 {
	composes: bar;
	height: 100%;
	opacity: 1;
}

.bar3 {
	composes: bar;
	height: 100%;
}

.bar4 {
	composes: bar;
	height: 50%;
}

.iconCross {
	composes: icon;
	transform: rotate(270deg) 
	// translateX(.2rem);
}

.iconCross > .bar1, .iconCross > .bar4 {
	opacity: 0;
}

.iconCross > .bar2 {
	position: absolute;
	transform: rotate(45deg);
}

.iconCross > .bar3 {
	position: absolute;
	transform: rotate(-45deg);
}

@media screen and (min-width: 1366px) {
	.nav {
		padding: 2.5% 20%;
		margin-bottom: 2.5%;
	}
	.menu {
		padding: 5% 20%;
	}
	.menuItem {
		// font-size: 4rem;
	}
	.swanson {
		font-size: 1.5rem;
		font-weight: 500;
	}
	.icon {
		width: 1.5rem;
		height: 1.5rem;
		gap: .3rem;
	}
}