@use 'typography';

.nav {
	position: sticky;
	top: 0;
	padding: 5% 7.5%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 2;
	background: white;
}

.logo {
	@include typography.logo;
	z-index: 3;
	transition: var(--trans-1);
}

.logo > sup {
	font-size: .8rem;
	font-weight: 700;
}

.menu {
	width: 100%;
	height: 100vh;
	height: calc(var(--vh) * 100);
	padding: 2rem 7.5%;
	background: white;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: var(--trans-2);
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
	z-index: 2;
}

.menuItem {
	@include typography.lg;
	cursor: pointer;
	transition: var(--trans-1);
	padding: 1rem 0;
}

.menuOpen {
	composes: menu;
	visibility: visible;
	opacity: 1;
}

.icon {
	width: 3rem;
	height: 3rem;
	justify-content: center;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	background: transparent;
	position: relative;
	gap: .4rem;
	transition: var(--trans-1);
	z-index: 3;
	cursor: pointer;
	transform-origin: center;
}

.bar {
	background: black;
	transition: var(--trans-2);
	height: 2px;
}

.bar2 {
	composes: bar;
	width: 100%;
}

.bar3 {
	composes: bar;
	width: 60%;
}

.iconCross {
	composes: icon;
}

.iconCross > .bar {
	position: absolute;
	width: 80%;
}

.iconCross > .bar2 {
	transform: rotate(-135deg);
}

.iconCross > .bar3 {
	transform: rotate(135deg);
}

@media screen and (min-width: 768px) {
	.menu {
		align-items: center;
	}
}

@media screen and (min-width: 1366px) {
	.nav {
		padding: 2.5% 20%;
	}
	.menu {
		padding: 2rem 20%;
	}
	.menuItem:hover, .logo:hover, .icon:hover {
		opacity: var(--opac-1);
	}
}