@use 'layout';
@use 'typography';

.reviews {
	@include layout.page;
}

.dots {
	display: flex;
	gap: 1rem;
}

.dot {
	border-radius: 50px;
	width: 5px;
	height: 5px;
	background: var(--dark-1);
	transition: var(--trans-1);
}

.dotCurrent {
	composes: dot;
	background: black;
}

.review {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 7.5%;
	transition: var(--trans-2);
	opacity: 1;
	flex: 1;
}

.quote {
	@include typography.copy;
	text-align: center;
	margin-bottom: 5%;
}

.author {
	@include typography.logo;
}

.controls {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 7.5%;
	position: sticky;
	bottom: 0;
}

@media screen and (min-width: 768px)  {
	.review {
		padding: 0 20%;
	}
}

@media screen and (min-width: 1366px)  {
	.review {
		padding: 0 30%;
	}
	.controls {
		padding: 0 20%;
	}
}